#main-container {
  height: 100vh;
}

#fake-background {
  height: 100vh;
}

.mid-container {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  width: 100vw;
  height: fit-content;
  padding: 1vh;
}

/* h1 {
  padding-top: 10vh;
} */



a.text {
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
  font-size: 32px;
}

#lower-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  margin-top: 30vh;
}