body {
  height: auto;
}

.main-container {
  width: 100%;
  height: 250%;
}

#header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border: 5px solid #D2F1F9;

}

#logo-img {
  object-fit: cover;
  height: 100%;
  
}

img {
  height: 100%;
}

.head-link {
  padding: 4vh;
  border-radius: 20%;
  border: 5px solid gray;
  background-color: darkgray;
  margin-left: 10px;
  margin-right: 10px;
  height: 4vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-container {
  height: 10%;
  width: 100%;
  background-color: #63E1F6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

.lower-examples {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: #00A0DE;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 33%;
  width: 100%;
  padding-left: 5vh;
  padding-right: 5vh;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #D2F1F9;
  border-radius: 50%;
  background-color: #bceaf6;
  height: 40vw;
  width: 40vw;
  animation-name: bob;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.text {
  height: 50vh;
  width: 50vw;
  padding: 10vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014983;
  height: 10vh;
}



/* animations below */

@keyframes bob {
  0% {
    transform-origin: top;
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }
}