body {
  height: auto;
  position: relative;
  overflow-x:hidden
}

.background {
  z-index: -1;
}

#fake-background-top {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("./real-sky.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#fake-background {
  position: absolute;
  height: 96.5%;
  width: 100%;
  z-index: -1;
  background-image: url("./blue-fade.png");
  background-size: cover;
}


#main-container {
  width: 100%;
  height: 350%;
}

#header-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 8vh;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 200px;
  width: 100vw;
  position: relative;
  z-index: 1;

  /* border: 5px solid #D2F1F9; */
  /* background-color: #A0D9EF; */
}

#top-color-holder {
  position: absolute;
  top: 0;
  width: 100%;
}

#logo-img {
  object-fit: cover;
  height: 100%;
  
}

img {
  height: 100%;
}

.head-link {
  padding: 4vh;
  border-radius: 20%;
  border: 5px solid #AA6F36;
  background-color: #C6864C;
  margin-left: 10px;
  margin-right: 10px;
  height: 4vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: gray !important;
}

.mid-container {
  height: 10%;
  width: 100%;
  /* background-color: #63E1F6; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}


h1 {
  font-size: 70;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-shadow: 2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000;
  text-align: center;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
}

/* .lower-examples {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
} */

.lower-examples {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  width: 100%;
  height: 90%;
  /* background-color: #00A0DE; */
}


.example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 33%;
  width: 100%;
  padding-left: 5vh;
  padding-right: 5vh;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #D2F1F9;
  border-radius: 50%;
  background-color: #bceaf6;
  height: 400px;
  width: 400px;
  animation-name: bob;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.big {
  font-size: large;
}

.text {
  height: fit-content;
  width: 50vw;
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #014983; */
  height: 10vh;
}

.rgb {
  animation-name: bob-rgb-color;
  /* animation-duration: 4s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
}


/* bubble positioning below*/

#bubble-one {
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}
#bubble-two {
  grid-row: 1;
  grid-column: 2;
  margin: auto;
}
#bubble-three {
  grid-row: 2;
  grid-column: 1;
  margin: auto;
}
#bubble-four {
  grid-row: 2;
  grid-column: 2;
  margin: auto;
}
#bubble-five {
  grid-row: 3;
  grid-column: 1;
  margin: auto;
}
#bubble-six {
  grid-row: 3;
  grid-column: 2;
  margin: auto;
}



/* animations below */

@keyframes bob {
  0% {
    transform-origin: top;
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes bob-rgb-color {
  0% {
    transform: translateY(-50px);
    background-color: rgb(255, 0, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  50% {
    transform: translateY(50px);
    background-color: rgb(0, 255, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  100% {
    transform: translateY(-50px);
    background-color: rgb(255, 0, 0);
  }
}





.absolute {
  position: absolute;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  top: 11px;
  /* left: 10px; */
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud{ 
  width:150px;
  height:45px;
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius:100px;
  color: black;
  position: relative;
}
.cloud::after, .cloud::before{
   content:"";
   position:relative;
   display:inline-block;
   background:inherit;
   border-radius:inherit;
}
.cloud::after{
   width:50px;
   height:50px;
   top:-55px;
   left: -58px;
}
.cloud::before{
   width:80px;
   height:80px;
   top: -36px;
   left:58px;
}

.cloud:hover {
  background-color: gray;
}


.ocean { 
  height: 100%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index: 1;
  /* background: #015871; */
}

.wave {
  background: url("wave-icon.png") repeat-x; 
  position: absolute;
  bottom: -75px;
  width: 6400px;
  height: 125px;
  animation: wave 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}




/* BUUBBLES BELOW HERE WOW COOL */

.back-bubble {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 50px;
  z-index: -1;
  background-image: url("./bubbles/bubble-a.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: float-up 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  filter:hue-rotate(215deg);
  overflow: hidden;
  animation-delay: -15s;
  /* animation-play-state: paused; */
}

@keyframes float-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2800px);
  }
}


/* individual bubbles front */

#one {
  bottom: 0px;
  left: 790px;
  animation-delay: -36s;
  background-image: url("./bubbles/bubble-a.png") !important;
}
#two {
  bottom: 0px;
  left: 190px;
  animation-delay: -15s;
  background-image: url("./bubbles/bubble-b.png") !important;
}
#three {
  bottom: 0px;
  left: 220px;
  animation-delay: -13s;
  background-image: url("./bubbles/bubble-a.png") !important;
}
#four {
  bottom: 0px;
  left: 200px;
  animation-delay: -11s;
  background-image: url("./bubbles/bubble-b.png") !important;
}
#five {
  bottom: 0px;
  left: 470px;
  animation-delay: -25s;
  background-image: url("./bubbles/bubble-c.png") !important;
}
#six {
  bottom: 0px;
  left: 760px;
  animation-delay: -17s;
  background-image: url("./bubbles/bubble-e.png") !important;
}
#seven {
  bottom: 0px;
  left: 290px;
  animation-delay: -35s;
  background-image: url("./bubbles/bubble-b.png") !important;
}
#eight {
  bottom: 0px;
  left: 530px;
  animation-delay: -8s;
  background-image: url("./bubbles/bubble-d.png") !important;
}
#nine {
  bottom: 0px;
  left: 560px;
  animation-delay: -5s;
  background-image: url("./bubbles/bubble-e.png") !important;
}
#ten {
  bottom: 0px;
  left: 100px;
  animation-delay: -40s;
  background-image: url("./bubbles/bubble-d.png") !important;
}
#eleven {
  bottom: 0px;
  left: 800px;
  animation-delay: 0s;
  background-image: url("./bubbles/bubble-d.png") !important;
}
#twelve {
  bottom: 0px;
  left: 500px;
  animation-delay: -2s;
  background-image: url("./bubbles/bubble-b.png") !important;
}#thirteen {
  bottom: 0px;
  left: 240px;
  animation-delay: -32s;
  background-image: url("./bubbles/bubble-c.png") !important;
}#fourteen {
  bottom: 0px;
  left: 500px;
  animation-delay: -40s;
  background-image: url("./bubbles/bubble-e.png") !important;
}






/* media transformations */
@media (max-width: 450px) {

  #bubble-one {
    height: 260px;
    width: 260px;
  }
  #bubble-two {
    height: 260px;
    width: 260px;
  }
  #bubble-three {
    height: 260px;
    width: 260px;
  }
  #bubble-four {
    height: 260px;
    width: 260px;
  }
  #bubble-five {
    height: 260px;
    width: 260px;
  }
  #bubble-six {
    height: 260px;
    width: 260px;
  }
  h1 {
    padding: 20px;
    padding-top: 150px;

  }
}

@media (max-width: 800px) {
  .lower-examples {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #bubble-one {
    grid-row: 2;
    grid-column: 1;
  }
  #bubble-two {
    grid-row: 1;
    grid-column: 1;
  }
  #bubble-three {
    grid-row: 3;
    grid-column: 1;
  }
  #bubble-four {
    grid-row: 4;
    grid-column: 1;
  }
  #bubble-five {
    grid-row: 6;
    grid-column: 1;
  }
  #bubble-six {
    grid-row: 5;
    grid-column: 1;
  }
  h1 {
    padding-top: 50px;
  }
  body {
    overflow-y: visible !important;
  }
}



.cloud-pop {
  z-index: 20;
  position: absolute;
  visibility: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  content: "+";
}

.cloud-pop::after {
  top: -117px;
  left: -30px;
}

.cloud-pop::before {
  top: -50px;
  left: 23px;
}

#plus {
  position: absolute;
  top: -16px;
  left: 65px;
  font-size: xx-large;
}

.modal-backdrop {
  visibility: hidden !important;
  z-index: -100;
}

.modal-content {
  border-radius: 50%;
  --mask:
    radial-gradient(38.42px at 50% 54px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(38.42px at 50% -24px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(38.42px at 50% calc(100% - 54px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(38.42px at 50% calc(100% + 24px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 300px;
}

/* #cloudModal {
  overflow-x: hidden;
  padding-right: 0;
} */

button.close {
  padding-top: 45px;
}

.visibility {
  visibility: hidden !important;
}

a.btn:hover {
  background-color: gray;
}

button.close:hover {
  background-color: gray;
}

.bottom {
  padding-bottom: 10vh;
}

@media (max-width: 680px) {
  /* adjust clouds */
  a.cloud {
    visibility: hidden;
  }

  .visibility {
    visibility: visible !important;
  }



}
